            <!-- Modal editar -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Editar Novedad</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="forms-sample" method="post" action="/editar_novedad">
                                <input type="hidden" name="id" id="editId">
                                <div class="form-group row">
                                    <label for="tituloEdit" class="col-sm-3 col-form-label">Título</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="titulo" class="form-control" id="tituloEdit" placeholder="Título">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="descripcionEdit" class="col-sm-3 col-form-label">Descripción</label>
                                    <div class="col-sm-9">
                                        <textarea name="descripcion" class="form-control" id="descripcionEdit" placeholder="Descripción"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fechaEdit" class="col-sm-3 col-form-label">Fecha</label>
                                    <div class="col-sm-9">
                                        <input type="date" name="fecha" class="form-control" id="fechaEdit" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark mr-2" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-dark">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
