<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="formEvento" id="formEvento" action="http://localhost:4000/api/agregar_evento" class="form-horizontal" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre_evento" class="col-sm-12 control-label">Nombre del Evento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nombre_evento" id="nombre_evento" placeholder="Nombre del Evento" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="col-sm-12 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción del Evento" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tipo_evento" class="col-sm-12 control-label">Tipo de Evento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tipo_evento" id="tipo_evento" placeholder="Tipo de Evento">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ubicacion" class="col-sm-12 control-label">Ubicación</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="ubicacion" id="ubicacion" placeholder="Ubicación del Evento">
                        </div>
                    </div>
                    
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe 
                                src="https://maps.google.com/maps?q=copacabana&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed" 
                                frameborder="0" 
                                scrolling="no" 
                                style="width: 400px; height: 240px;">
                            </iframe>
                            <style>
                                .mapouter {
                                    display: table;
                                }
                                .gmap_canvas {
                                    overflow: hidden;
                                    position: relative;
                                    height: 150px;
                                    width: 400px;
                                    background: #fff;
                                }
                            </style>
                            <a href="https://www.taxuni.com/fincen-form-114/">FinCEN Form 114</a>
                            <style>
                                .gmap_canvas iframe {
                                    position: relative !important;
                                    z-index: 2 !important;
                                }
                                .gmap_canvas a {
                                    color: #fff !important;
                                    position: absolute !important;
                                    top: 0 !important;
                                    left: 0 !important;
                                    z-index: 0 !important;
                                }
                            </style>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_inicio" class="col-sm-12 control-label">Fecha Inicio</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" name="fecha_inicio" id="fecha_inicio" placeholder="Fecha Inicio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_fin" class="col-sm-12 control-label">Fecha Final</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" name="fecha_fin" id="fecha_fin" placeholder="Fecha Final">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duracion" class="col-sm-12 control-label">Duración</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="duracion" id="duracion" placeholder="Duración del Evento (en horas)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="claseUpdate" class="col-sm-12 control-label">Clase</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="id_clase" id="claseUpdate" required>
                                <option value="1">Parkour</option>
                                <option value="2">Mixtas</option>
                                <option value="3">Boxeo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notificar" class="col-sm-12 control-label">Notificar a Usuarios</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="notificar" id="notificar" required>
                                <option value="no">No</option>
                                <option value="si">Sí</option>
                            </select>
                        </div>
                    </div>

                    <!-- Campo para descripcion_notificacion -->
                    <div class="form-group" id="descripcionNotificacionDiv" style="display:none;">
                        <label for="descripcion_notificacion" class="col-sm-12 control-label">Descripción de la Notificación</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="descripcion_notificacion" id="descripcion_notificacion" placeholder="Mensaje que será enviado a los usuarios" rows="3"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="color_evento" class="col-sm-12 control-label">Color del Evento</label>
                        <div class="col-md-12">
                            <input type="radio" name="color_evento" id="orange" value="#FF5722" checked>
                            <label for="orange" class="circu" style="background-color: #FF5722;"> </label>

                            <input type="radio" name="color_evento" id="amber" value="#FFC107">
                            <label for="amber" class="circu" style="background-color: #FFC107;"> </label>

                            <input type="radio" name="color_evento" id="lime" value="#8BC34A">
                            <label for="lime" class="circu" style="background-color: #8BC34A;"> </label>

                            <input type="radio" name="color_evento" id="teal" value="#009688">
                            <label for="teal" class="circu" style="background-color: #009688;"> </label>

                            <input type="radio" name="color_evento" id="blue" value="#2196F3">
                            <label for="blue" class="circu" style="background-color: #2196F3;"> </label>

                            <input type="radio" name="color_evento" id="indigo" value="#9c27b0">
                            <label for="indigo" class="circu" style="background-color: #9c27b0;"> </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar Evento</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>
            </form>
        </div>
    </div>
</div><script>
    document.getElementById('notificar').addEventListener('change', function() {
        var notificarValue = this.value;
        var descripcionNotificacionDiv = document.getElementById('descripcionNotificacionDiv');
        var descripcionNotificacionField = document.getElementById('descripcion_notificacion');
        
        if (notificarValue === 'si') {
            descripcionNotificacionDiv.style.display = 'block';  // Mostrar el campo
            descripcionNotificacionField.required = true;  // Hacerlo obligatorio
        } else {
            descripcionNotificacionDiv.style.display = 'none';  // Ocultar el campo
            descripcionNotificacionField.required = false;  // Hacerlo no obligatorio
            descripcionNotificacionField.value = '';  // Limpiar el valor si está oculto
        }
    });
</script>
