<!-- Modal para actualizar evento -->
<div class="modal fade" id="modalUpdateEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="formUpdateEvento" action="http://localhost:4000/api/actualizar_evento" method="POST">
        <div class="modal-body">
          <input type="hidden" id="idEventoUpdate" name="id" value="">

          <div class="form-group">
            <label for="nombre_eventoUpdate" class="col-sm-12 control-label">Nombre del Evento</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nombre_eventoUpdate" name="nombre_evento" placeholder="Nombre del Evento">
            </div>
          </div>

          <div class="form-group">
            <label for="descripcionUpdate" class="col-sm-12 control-label">Descripción</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="descripcionUpdate" name="descripcion" placeholder="Descripción del Evento" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="tipo_eventoUpdate" class="col-sm-12 control-label">Tipo de Evento</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tipo_eventoUpdate" name="tipo_evento" placeholder="Tipo de Evento">
            </div>
          </div>

          <div class="form-group">
            <label for="ubicacionUpdate" class="col-sm-12 control-label">Ubicación</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ubicacionUpdate" name="ubicacion" placeholder="Ubicación del Evento">
            </div>
          </div>

          <div class="form-group">
            <label for="fecha_inicioUpdate" class="col-sm-12 control-label">Fecha de Inicio</label>
            <div class="col-sm-10">
              <input type="datetime" class="form-control" id="fecha_inicioUpdate" name="fecha_inicio">
            </div>
          </div>

          <div class="form-group">
            <label for="fecha_finUpdate" class="col-sm-12 control-label">Fecha de Fin</label>
            <div class="col-sm-10">
              <input type="datetime" class="form-control" id="fecha_finUpdate" name="fecha_fin">
            </div>
          </div>

          <div class="form-group">
            <label for="duracionUpdate" class="col-sm-12 control-label">Duración</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="duracionUpdate" name="duracion" placeholder="Duración del Evento (en horas)">
            </div>
          </div>

          <div class="form-group">
            <label for="claseUpdate" class="col-sm-12 control-label">Clase</label>
            <div class="col-sm-10">
              <select class="form-control" name="id_clase" id="claseUpdate" required>
                <option value="1">Parkour</option>
                <option value="2">Mixtas</option>
                <option value="3">Boxeo</option>
              </select>
            </div>
          </div>
           <!-- Campo para notificar a usuarios -->
           <div class="form-group">
            <label for="notificar" class="col-sm-12 control-label">Notificar a Usuarios</label>
            <div class="col-sm-10">
                <select class="form-control" name="notificar" id="notificar" required>
                    <option value="no">No</option>
                    <option value="si">Sí</option>
                </select>
            </div>
        </div>

        <!-- Campo para descripcion_notificacion -->
        <div class="form-group" id="descripcionNotificacionDiv" style="display:none;">
            <label for="descripcion_notificacion" class="col-sm-12 control-label">Descripción de la Notificación</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="descripcion_notificacion" id="descripcion_notificacion" placeholder="Mensaje que será enviado a los usuarios" rows="3"></textarea>
            </div>
        </div>

          <div class="form-group">
            <label for="color_eventoUpdate" class="col-sm-12 control-label">Color del Evento</label>
            <div class="col-md-12">
              <input type="radio" name="color_evento" id="orangeUpdate" value="#FF5722">
              <label for="orangeUpdate" class="circu" style="background-color: #FF5722;"> </label>

              <input type="radio" name="color_evento" id="amberUpdate" value="#FFC107">
              <label for="amberUpdate" class="circu" style="background-color: #FFC107;"> </label>

              <input type="radio" name="color_evento" id="limeUpdate" value="#8BC34A">
              <label for="limeUpdate" class="circu" style="background-color: #8BC34A;"> </label>

              <input type="radio" name="color_evento" id="tealUpdate" value="#009688">
              <label for="tealUpdate" class="circu" style="background-color: #009688;"> </label>

              <input type="radio" name="color_evento" id="blueUpdate" value="#2196F3">
              <label for="blueUpdate" class="circu" style="background-color: #2196F3;"> </label>

              <input type="radio" name="color_evento" id="indigoUpdate" value="#9c27b0">
              <label for="indigoUpdate" class="circu" style="background-color: #9c27b0;"> </label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Actualizar Evento</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.getElementById('notificar').addEventListener('change', function() {
      var notificarValue = this.value;
      var descripcionNotificacionDiv = document.getElementById('descripcionNotificacionDiv');
      var descripcionNotificacionField = document.getElementById('descripcion_notificacion');
      
      if (notificarValue === 'si') {
          descripcionNotificacionDiv.style.display = 'block';  // Mostrar el campo
          descripcionNotificacionField.required = true;  // Hacerlo obligatorio
      } else {
          descripcionNotificacionDiv.style.display = 'none';  // Ocultar el campo
          descripcionNotificacionField.required = false;  // Hacerlo no obligatorio
          descripcionNotificacionField.value = '';  // Limpiar el valor si está oculto
      }
  });
</script>