<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recuperar Contrase침a</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <section id="sec">
        <div class="form-box">
            <div class="form-value">
                <form action="/enviar_codigo" method="POST">
                    <h2>Recuperar Contrase침a</h2>
                    <div class="inputbox" id="emailBox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" id="email" required>
                        <label for="email">Correo</label>
                    </div>
                    <button type="submit">Enviar C칩digo</button>
                    <div class="register">
                        <p><a href="/login">Volver al inicio de sesi칩n</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
  
</body>

</html>
