<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
</head>

<body>
    <section id="sec2">
        <div class="form-box">
            <div class="form-value">
                <form id="resetPasswordForm">
                    <h2>Restablecer Contraseña</h2>
                    
                    <!-- Campo para nueva contraseña -->
                    <div id="newPasswordContainer" class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input id="newPassword" type="password" name="newPassword" required>
                        <label for="newPassword">Nueva Contraseña</label>
                    </div>
                    
                    <!-- Botón para restablecer la contraseña -->
                    <button id="resetButton" type="submit">
                        <p>Restablecer Contraseña</p>
                    </button>
                    
                    <div class="register">
                        <p><a href="/login">Volver a Iniciar Sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../assets/js/sweet.js"></script>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
    <script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
</body>

</html>
